
.DS_Store
*.ipynb
summarize/bart_finetuned_model/runs/Nov28_14-12-49_vl965-172-31-252-91.wireless.umass.edu/events.out.tfevents.1701198770.vl965-172-31-252-91.wireless.umass.edu.41795.0
summarize/output/checkpoint-1001/config.json
summarize/output/checkpoint-1001/model.safetensors
summarize/output/checkpoint-1001/rng_state.pth
summarize/output/checkpoint-1001/optimizer.pt
summarize/output/checkpoint-1001/generation_config.json
summarize/output/checkpoint-1001/scheduler.pt
summarize/output/checkpoint-1001/trainer_state.json
summarize/output/checkpoint-2002/config.json
summarize/output/checkpoint-1001/training_args.bin
summarize/output/checkpoint-2002/generation_config.json
summarize/output/checkpoint-2002/model.safetensors
summarize/output/checkpoint-2002/optimizer.pt
summarize/output/checkpoint-2002/rng_state.pth
summarize/output/checkpoint-2002/scheduler.pt
summarize/output/checkpoint-2002/trainer_state.json
summarize/output/checkpoint-2002/training_args.bin
summarize/output/checkpoint-3003/config.json
summarize/output/checkpoint-3003/generation_config.json
summarize/output/checkpoint-3003/model.safetensors
summarize/output/checkpoint-3003/optimizer.pt
summarize/output/checkpoint-3003/rng_state.pth
summarize/output/checkpoint-3003/scheduler.pt
summarize/output/checkpoint-3003/training_args.bin
summarize/output/checkpoint-3003/trainer_state.json
summarize/output/runs/Nov28_14-15-01_vl965-172-31-252-91.wireless.umass.edu/events.out.tfevents.1701198901.vl965-172-31-252-91.wireless.umass.edu.41824.0
summarize/output/runs/Nov28_14-16-47_vl965-172-31-252-91.wireless.umass.edu/events.out.tfevents.1701199007.vl965-172-31-252-91.wireless.umass.edu.41824.1
summarize/output/runs/Nov28_14-17-56_vl965-172-31-252-91.wireless.umass.edu/events.out.tfevents.1701199076.vl965-172-31-252-91.wireless.umass.edu.41824.2
summarize/output/runs/Nov28_16-45-42_vl965-172-31-252-91.wireless.umass.edu/events.out.tfevents.1701207943.vl965-172-31-252-91.wireless.umass.edu.44715.0
